/*  4. Tob bar Style CSS
/*----------------------------------------*/
.top-bar{
  position: relative;
  overflow: hidden;
  p,a{
    font-size: 12px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-family: $montserrat;
    font-size: 12px;
  }


}
.border-bottom-1{
  border-bottom: 1px solid $bright-gray;
}
.call-info,.offer-info{
  @media #{$xs-layout} {
    margin-bottom: 10px;
  }
}
.language-wrapper{
  .select2-container--default .select2-selection--single {
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }
  ul.select2-results__options .select2-results__option{
    font-family: $montserrat;
    font-size: 12px;
  }
}